$fontColor: rgb(108, 105, 147);


#choice-list{
  border:solid;
  border-width: 7px;
  border-radius: 20px;
  margin-top: 0px;
  border-color: white;
  border-width: 5px;

  #data-list-title {
    font-family: Arial, Helvetica, sans-serif;
    color: $fontColor;
    border-color: white;
    border-width: 4px;
    border-radius: 20px;
    padding: 0 10px 0 10px;
    text-align: center;
    margin-top: 10px;
  }
  
  #data-list {
    font-size: 20px;
    color: rgba(108, 105, 147, 0.763);
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    margin-top: 0;

    li {
      list-style-type: none;
      margin-left: -25px;
    }
  }
}

#choice-list{
  display:grid;
  
  #reset-button {
    justify-self:center;
    margin-top: 20px;
    margin-bottom:10px;
    font-size: 20px;
    width: 150px;
    z-index: 2;
    background-color: white;
    box-shadow: none;
    border: solid;
    border-radius: 20px;
    border-color:white;
    background-color:rgba(255, 255, 255, 0.018);
    color: $fontColor;
  }
}
