form {
  display: flex;
  justify-content: center;

  label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 5px;
  }

  input {

  }

  button {
    justify-content: center;
  }
}