#result-box {
  border: solid;
  border-radius: 20px;
  border-width: 5px;
  padding: 0 20px;
  font-size: 40px;
  color: white;
  width: max-content;
  margin:auto;
  margin-top: 10px;
  text-align: center;
  font-family:arial;
}