#result-box {
  // display: flex;
  // flex-direction: column; /* To align both horizontally and vertically */
  border: solid;
  border-radius: 20px;
  border-width: 5px;
  padding: 0 20px;
  font-size: 50px;
  color: white;
  width: max-content;
  // margin-left: 33%;
  margin:auto;
  margin-top: 25px;
  text-align: center;
  font-family:arial;
}