$fontColor: rgb(108, 105, 147);
$headerColor: rgb(89, 87, 118);

#suggestion-box{
  border:solid;
  border-color:$fontColor;
  border-radius: 20px;
  width:110px;
  margin: 0 5px 0 5px;
  // display:flex;

  p{
    margin: 5px;
    font-size:16px;
  }

  h5{
    font-family:arial;
    color: $headerColor;
    text-align: center;
    margin:auto;
  }

  .select-suggestion-button{
    margin-top: 8px;
    background-color: white;
    border:solid;
    // border-color:$fontColor;
    border-radius: 20px;
    font-size: 16px;
    color: $fontColor;
    width:100%;
    height: 30px;
    // box-shadow: none;
  }
}