// $bgColor: #023C40;
$bgColor: #9bbdf9bd;
$fontColor: rgb(108, 105, 147);
$headerColor: rgb(89, 87, 118);
$pieSlice:#f39396; //orange-red;

body{
  background-color: $bgColor;
  display:flex;
  justify-content: center;
  align-items: center;
  min-width: 1300px;
  
  p {
    // font-family: 'Quicksand', sans-serif;
  }


  h1 {
    color: $headerColor;
    text-align: center;
    font-size: 50px;
    // font-family:tahoma,
    font-family: 'Handjet', cursive;
    
  }
}

main {
  width: 100%;
  display:flex;
  grid-gap: 30px;
  margin-top: -10px;
  // place-items: center;
  // position: relative;
  // grid-template-columns: 1fr 1fr;
  // justify-items:center;
  // margin-left: 10%;        
//   section {

// }

#center {
  border: solid;
  border-radius: 30px;
  border-width: 10px;
  border-color: $fontColor;
  padding: 0px 20px 0 50px;
  width: 550px;
  height: 750px;
}

}


#spin {
  display:grid;
  z-index: 2;
  // color: $fontColor;

  #spin-button {
    position:absolute;
    margin: 285px 0 20px 0;
    justify-self: center;
    z-index: 2;
    font-size: 30px;
    width: 130px;
    padding: 10px;
    border-radius: 100px;
    border: solid 20px;
    border-color: $bgColor;
    color: $fontColor;
  }
}



#arrow-button {
  position:absolute;
  // justify-content: center;
  // align-self: center;
  // text-align: center;
  // display:block;
  // left:48%;
  margin: 200px 0 0 340px;
  background-color: transparent;
  z-index: 2;
  height:30px;
  width: 30px;
  
  img {
    height: 70px;
    width: 60px;
    // transform: rotate(90deg);
    position:absolute;
    margin: -115px 0 0 -95px;
    z-index: 2;
  }
}

canvas {
  // margin: auto;
  // margin-top: -10px;
  width: 430px;
  height: 430px;
}