#InputBox {
  display:grid;
  z-index: 2;

  #spin-button {
    position:fixed;
    margin: 250px 0 20px 0;
    justify-self: center;
    z-index: 2;
    font-size: 30px;
    padding: 20px;
    border-radius: 100px;
    border: solid 20px;
    border-color: #0AD3FF;
    
  }
}

canvas {
  margin: auto;
  width: 500px;
  height: 500px;
}