// $bgColor: #023C40;
$bgColor: #9bbdf9bd;
$fontColor: rgb(108, 105, 147);
$headerColor: rgb(89, 87, 118);
$pieSlice:#f39396; //orange-red;

html{
  background-color: $bgColor;
  // background-color: rgba(0, 0, 0, 0.889);
  h1 {
    color: $headerColor;
    text-align: center;
    font-size: 50px;
  }
}

#center {
  border: solid;
  border-radius: 70px;
  border-width: 10px;
  // border-color: rgb(222, 211, 211);
  border-color: $fontColor;
  padding: 0px 20px 0 50px;
  width: 800px;
  height: 1000px;
  margin: 30px auto;
  // align-content: center;
}

#spin {
  display:grid;
  z-index: 2;
  // color: $fontColor;

  #spin-button {
    position:absolute;
    margin: 350px 0 20px 0;
    justify-self: center;
    z-index: 2;
    font-size: 30px;
    width: 150px;
    padding: 20px;
    border-radius: 100px;
    border: solid 20px;
    border-color: $bgColor;
    color: $fontColor;
  }
}



#arrow-button {
  position:absolute;
  // justify-content: center;
  // align-self: center;
  // text-align: center;
  // display:block;
  // left:48%;
  margin: 185px 0 0 390px;
  background-color: transparent;
  z-index: 2;
  height:30px;
  width: 30px;
  
  img {
    height: 70px;
    width: 60px;
    // transform: rotate(-55deg);
    position:absolute;
    // justify-content: center;
    // align-self: center;
    // text-align: center;
    // display:block;
    // left:48%;
    // margin: 20px 0 0 380px;
    margin: -55px 0 0 -28px;
    z-index: 2;
  }
}

canvas {
  margin: auto;
  width: 500px;
  height: 500px;
}